<html>
  <head>

    <link rel="stylesheet" href="/css/about_section/about_style.css">
    <link rel="stylesheet" href="/css/about_section/image_slider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/image_slider.js"></script>

  </head>

    <body>
<!--       
          <div class="slider">
          <div class="slide_viewer">
            <div class="slide_group">
              <div class="slide">
              </div>
              <div class="slide">
              </div>
              <div class="slide">
              </div>
              <div class="slide">
              </div>
            </div>
          </div>
        </div>

        <div class="directional_nav">
          <div class="previous_btn" title="Previous">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
              <g>
                <g>
                  <path fill="#474544" d="M-10.5,22.118C-10.5,4.132,4.133-10.5,22.118-10.5S54.736,4.132,54.736,22.118
        			c0,17.985-14.633,32.618-32.618,32.618S-10.5,40.103-10.5,22.118z M-8.288,22.118c0,16.766,13.639,30.406,30.406,30.406 c16.765,0,30.405-13.641,30.405-30.406c0-16.766-13.641-30.406-30.405-30.406C5.35-8.288-8.288,5.352-8.288,22.118z"/>
                  <path fill="#474544" d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0	c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564	c-0.215,0.218-0.498,0.323-0.78,0.323C25.929,33.569,25.646,33.464,25.43,33.243z"/>
                </g>
              </g>
            </svg>
          </div>
          <div class="next_btn" title="Next">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
              <g>
                <g>
                  <path fill="#474544" d="M22.118,54.736C4.132,54.736-10.5,40.103-10.5,22.118C-10.5,4.132,4.132-10.5,22.118-10.5	c17.985,0,32.618,14.632,32.618,32.618C54.736,40.103,40.103,54.736,22.118,54.736z M22.118-8.288	c-16.765,0-30.406,13.64-30.406,30.406c0,16.766,13.641,30.406,30.406,30.406c16.768,0,30.406-13.641,30.406-30.406 C52.524,5.352,38.885-8.288,22.118-8.288z"/>
                  <path fill="#474544" d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035 			L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"/>
                </g>
              </g>
            </svg>
          </div>
        </div>
-->
        <table>
          <tr>
            <td>
              <img class="aboutme" src="/assets/aboutme_img/aboutme.jpg" />
            </td>
            <td>
              <h1>Welcome</h1>
              <h1>to my</h1>
              <h1>Webpage</h1>
            </td>
          </tr>
        </table>

      <div class="container">
        <h3>What I Studied</h3>
        <p>
          I am a master graduate in Theoretical Chemistry and Computational Modelling (TCCM), Supramolecular and Nanostructured Systems at the University of Trieste (IT).
          The master’s degree I took allowed me to learn in depth notions of chemistry and solid state physics from both the theoretical and applicative point of view.
          At the start of my academic career I took my bachelor degree in chemistry and in particular, for my bachelor thesis, I did a study on organometallic chemistry.
          I always wanted to get a better fundamental understanding of what was lying beneath the concepts taught to me during my bachelor degree.
          Therefore I decided to enroll in the TCCM program which allowed me to get more familiar with the theoretical concepts.
          Furthermore I was able to deepen my passion and knowledge of programming. My master thesis is a theoretical study of singlet fission in organic
          molecules using TD-DFT and ab-initio methods.
        </p>
      </div>
      <div class="container">
        <h3>What I believe is Important</h3>
        <p>
          Studying and going through univesity gives you a basic framework from which to start building everything else. However, I believe that it is necessary but not sufficient.
          University is only the first step towards knowledge and no one should ever stop learning and acquiring new skills. This is why I always try to keep on
          studying different topics. I have already invested quite some time and effort in learning Data Science and Machine Learning techniques. Making this very website
          had been a thrilling and helpful learning experience.
          I also actively keep on reading business strategy books which are surprisingly very interesting. Moreover, at a fundamental level, the world is made of people and
          interaction between them where social skills and openess of mind are important virtues. For this reason, I believe that seeing the world thorugh different prespective is of paromount importance.
          I've always been courious to see different places and their different cultures. I'm proud to say that I've seen quite a bit in my journeys. I have travelled around europe, I've been to France, Germany, Austria, Spain
          and in the Netherlands. However, my most exciting adventures comes from when I had to cross the ocean. When I was 20 years old I travelled to the United States by myself
          and I stayed there for roughly 4 months. After my bachelor degree I went alone to Japan for a little more the 1 month before starting my master degree. Soon after
          completion of my masters degree I travelled to Australia and stayed there for 1 year working as a laborer. All these experiences made me stronger and taught me to
          be adaptable and open minded.
        </p>
      </div>
  </body>
</html>
