<html>
  <head>

    <link rel="stylesheet" href="/css/about_section/about_style.css">
    <link rel="stylesheet" href="/css/about_section/image_slider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/image_slider.js"></script>

  </head>

  <body>
      <table>
        <tr>
          <td>
            <img class="aboutme" src="/assets/aboutme_img/aboutme.jpg" />
          </td>
          <td>
            <h1>Welcome</h1>
            <h1>to my</h1>
            <h1>Webpage</h1>
          </td>
        </tr>
      </table>

    <div class="container">
      <h3>What I Studied</h3>
      <p>
        I am a master graduate in Theoretical Chemistry and Computational Modelling (TCCM), Supramolecular and Nanostructured Systems at the University of Trieste (IT).
        The master’s degree I took allowed me to learn in depth notions of chemistry and solid state physics from both the theoretical and applicative point of view.
        At the start of my academic career I took my bachelor degree in chemistry and in particular, for my bachelor thesis, I did a study on organometallic chemistry.
        I always wanted to get a better fundamental understanding of what was lying beneath the concepts taught to me during my bachelor degree.
        Therefore I decided to enroll in the TCCM program which allowed me to get more familiar with the theoretical concepts.
        Furthermore I was able to deepen my passion and knowledge of programming. My master thesis is a theoretical study of singlet fission in organic
        molecules using TD-DFT and ab-initio methods.
      </p>
    </div>
    <div class="container">
      <h3>What I believe is Important</h3>
      <p>
        Studying and going through university gives you a basic framework from which to start building everything else. However, I believe that it is necessary but not sufficient.
        University is only the first step towards knowledge and no one should ever stop learning and acquiring new skills. This is why I always try to keep on
        studying different topics. I have already invested quite some time and effort in learning Data Science and Machine Learning techniques. Making this very website
        has been a thrilling and helpful learning experience.
        I also actively keep on reading business strategy books which are surprisingly very interesting. Moreover, at a fundamental level, the world is made of people and
        interaction between them where social skills and openness of mind are important virtues. For this reason, I believe that seeing the world through different perspectives is of paramount importance.
        I've always been curious to see different places and their different cultures. I'm proud to say that I've seen quite a bit in my journeys. I have travelled around europe, I've been to France, Germany, Austria, Spain
        and in the Netherlands. However, my most exciting adventures comes from when I had to cross the ocean. When I was 20 years old I travelled to the United States by myself
        and I stayed there for roughly 4 months. After my bachelor degree I went alone to Japan for a little more the 1 month before starting my master degree. Soon after
        completion of my master degree I travelled to Australia and stayed there for 1 year working as a laborer. All these experiences were constructive and taught me to
        be adaptable and open minded.
      </p>
    </div>

  </body>
</html>
