<html>
  <head>
    <link rel="stylesheet" href="/css/contacts_section/contacts_style_v2.css">
  </head>
    <body>
      <div class="container">
        <h2>Contact Me !</h2>
        <h3>Send me and email at: <a href = "mailto: enrico.siagri@gmail.com">enrico.siagri@gmail.com</a></h3>
        <h3>Or leave a message in the form below !</h3>
      </div>

      <div class="container">
        <form method="POST" action="https://formspree.io/f/meqpwvjq">

          <label for="fname">First Name/Company Name</label>
          <input type="text" id="fname" name="firstname" required placeholder="Your name..">

          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" required placeholder="Your last name..">

          <label for="message">Message</label>
          <textarea id="message" name="message" required placeholder="Write something.." style="height:200px"></textarea>

          <input type="submit" value="Send">

        </form>
      </div>
  </body>
</html>
