<html>
  <head>
    <link rel="stylesheet" href="/css/mainpage_section/mainpage_style.css">
    <link rel="stylesheet" href="/css/mainpage_section/mainpage_quote.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/mainpage.js"></script>
  </head>

<body>

    <div class="box">
    		<div class="container">
    			<ul id="spin">
    				<li><img src="/assets/books/modern_qc.jpg"></li>
    				<li><img src="/assets/books/monetizing_data.png"></li>
    				<li><img src="/assets/books/blue_ocean_strategy.jpeg"></li>
            <li><img src="/assets/books/the_long_tail.jpeg"></li>
            <li><img src="/assets/books/abundance.jpeg"></li>
    			</ul>
    		</div>
    	</div>

    </body>
  </html>
