<html>
  <head>
    <link rel="stylesheet" href="/css/resume_section/resume_style.css">
  </head>
    <body>
      <div class="container">
          <h2 style="font-weight: bold;">EDUCATION</h2>
          <hr>
      </div>
      <div class="container">
        <h3><a href="https://www.units.it/en">University of Trieste</a>, <a href="https://www.rug.nl/">University of Groningen</a></h3>
        <h3>October 2016, December 2018</h3>
        <p style="font-weight: bold;">Master of Science Course in Theoretical Chemistry & Computational Modelling</p>
        <p>
          The Master in Theoretical Chemistry and Computational Modelling (TCCM) is meant to prepare experts in using and developing molecular science and computational
          techniques to either work with innovative pharmaceutical, petrochemical and new materials industries or to follow future doctoral studies in Chemistry,
          Physics, Life or Material Sciences.
        </p>
          <div class="thesisbox">
            <p>Dissertation Title:</p>
            <p>Theoretical Investigation of Singlet Fission in Organic Molecules</p>
            <p>Supervisors:</p>
            <p>Prof. Mauro Stener, Dr. W. A. Havenith, Prof. Dr. S. Faraji</p>
          </div>
        <hr>
      </div>
      <div class="container">
        <h3><a href="https://www.units.it/en">University of Trieste</a></h3>
        <h3>October 2012, December 2016</h3>
        <p style="font-weight: bold;">Bachelor of Science in Chemistry</p>
          <div class="thesisbox">
            <p>Dissertation Title:</p>
            <p>Palladium Coordination Chemistry of non-Symmetrical Nitrogen Ligands</p>
            <p>Supervisors:</p>
            <p>Prof. Dr. Barbara Milani</p>
          </div>
        <hr>
      </div>
      <div class="container">
          <h2 style="font-weight: bold;">COURSES & ATTENDANCES</h2>

          <h3><a href="https://www.uv.es/uvweb/college/en/university-valencia-1285845048380.html">University of Valencia</a>, Spain - 2017</h3>
            <div class="indent_box">
              <p>12th International Intensive Course: European Master in Theoretical Chemistry and Computational Modelling</p>
            </div>

          <h3><a href="https://userinfo.surfsara.nl/">SURFsara</a> Dutch high-performance computing and e-Science support center, Netherlands - 2018</h3>
          <div class="indent_box">
            <p>HPC-Europa3 Transnational Access Programme attendee</p>
          </div>

          <h3>Cambridge English Level 2 Certificate in ESOL International (Advanced), Council of Europe level C1 - July 2019</h3>

          <h3 style="font-weight: bold;">Coursera</h3>
            <ul>
              <li>
                <p>McMaster University & University of California San Diego – 2018 <a href="https://www.coursera.org/account/accomplishments/verify/Y2RR5HFR74YY" class="button" style="color: #ffff">View Certificate</a><br>
                   Learning How to Learn: Powerful mental tools to help you master tough subjects
                   </p>
              </li>
              <li>
                <p>Yale University – 2019 <a href="https://www.coursera.org/account/accomplishments/verify/WK96H4FWMQWD" class="button" style="color: #ffff">View Certificate</a><br>
                   Financial Markets. </p>
              </li>

              <li>
                <p>Duke University – 2019 <a href="https://www.coursera.org/account/accomplishments/specialization/32TFSGYGZKLY" class="button" style="color: #ffff">View Certificate</a><br>
                   Java Programming and Software Engineering Fundamentals Specialization
                   <details>
                    <summary>Courses in this specialization</summary>
                      <ol>
                        <li>Principles of Software Design</li>
                        <li>Build a Recommendation System</li>
                        <li>Solving Problems with Software</li>
                        <li>Arrays, Lists, and Structured Data</li>
                        <li>Programming Foundations with JavaScript, HTML & CSS</li>
                      </ol>
                  </details>
                 </p>
              </li>

              <li>
                <p>IBM Data Science Professional Certificate – 2019 - 2020  <a href="https://www.coursera.org/account/accomplishments/professional-cert/4WJL92MG9LFP" class="button" style="color: #ffff;">View Certificate</a><a href="https://www.youracclaim.com/badges/6123a149-0155-4c8e-8b08-0c9a0b38e9e7?source=linked_in_profile" class="button2" style="color: #ffff;"></a>
                   <details>
                    <summary>Courses in this professional certificate</summary>
                      <ol>
                        <li>Data Science Orientation</li>
                        <li>Tools for Data Science</li>
                        <li>Data Science Methodology</li>
                        <li>Python for Data Science and AI</li>
                        <li>Databases and SQL for Data Science</li>
                        <li>Data Visualization with Python</li>
                        <li>Data Analysis with Python</li>
                        <li>Machine Learning with Python</li>
                        <li>Applied Data Science Capstone</li>
                      </ol>
                  </details>
                 </p>
              </li>

              <li>
                <p>IBM 2020  <a href="https://www.coursera.org/account/accomplishments/verify/HQKBKBLV8SSZ?utm_source=link&utm_medium=certificate&utm_content=cert_image&utm_campaign=sharing_cta&utm_product=course" class="button" style="color: #ffff">View Certificate</a><br>
                   Introduction to Containers w/ Docker, Kubernetes & OpenShift
                </p>
              </li>

              <li>
                <p>IBM Machine Learning Professional Certificate – 2021  <a href=" " class="button" style="color: #ffff;">View Certificate</a><a href=" " class="button2" style="color: #ffff;"></a>
                   <details>
                    <summary>Courses in this professional certificate</summary>
                      <ol>
                        <li>Exploratory Data Analysis for Machine Learning</li>
                        <li>Supervised Learning: Regression</li>
                        <li>Supervised Learning: Classification</li>
                        <li>Unsupervised Learning</li>
                        <li>Deep Learning and Reinforcement Learning</li>
                        <li>Specialized Models: Time Series and Survival Analysis</li>
                      </ol>
                  </details>
                 </p>
               </li>
            </ul>

          <hr>
      </div>
      <div class="container">
          <h2 style="font-weight: bold;">WORK EXPERIENCE</h2>

          <h3 style="font-weight: bold;">RESEACH WORK</h3>
            <p>Univeristy of Trieste<br>
              Bachelor Degree Chemisty Thesis - July 2016, December 2016<br>
              Master Degree Computational Chemistry Thesis - March 2018, December 2018<br>
            </p>
            <p>
              Description:<br>
              Research work consisting in actively develop, execute experiments and procreatively analyze and discuss the results.
            </p>

            <h3 style="font-weight: bold;">UnoBuild (Melbourne, Victoria, AU)- Building Renovations & Maintenance</h3>
            <p>February 2020 – November 2020</p>
            <p>Construction and maintenance work. Besides the work in itself my responsibilities were diverse.<br>
              <ol>
                <li>Ensure the job was keeping up with the schedule and, if not, find a solution to make it happen.</li>
                <li>Make sure the working site was always safe and clean from obstacles.</li>
                <li>Open the working site every morning and prepare the necessary tools and materials.</li>
                <li>Close the site every evening making sure to safely store all tools and materials.</li>
                <li>Check the inventory regularly and make sure there was everything needed for the next days.</li>
                <li>Oversee the delivery of new materials/machines to the working site making sure no mistakes were made.</li>
                <li>Organize the work for my colleagues making sure they were as time efficient as possible.</li>
                <li>Helping my work colleagues when needed and teach them how to complete specific tasks.</li>
                <li>Engage in conversations with house owners and/or tenants of apartment units to ask about job related inquires or to answer their questions.</li>
                <li>Keep the head of the company always informed.</li>
              </ol>
            </p>
          <hr>
      </div>

      <div class="container">
          <h2 style="font-weight: bold;">LEVELS OF CONFIDENCE</h2>

        <div class="wrapper">

                <div class="skill">
                    <p>Chemistry</p>
                    <div class="skill-bar skill1">
                        <span class="skill-count1">95%</span>
                    </div>
                </div>

                <div class="skill">
                    <p>Data Science</p>
                    <div class="skill-bar skill2">
                         <span class="skill-count2">85%</span>
                    </div>
                </div>

                <div class="skill">
                    <p>Programming</p>
                    <div class="skill-bar skill3">
                        <span class="skill-count3">85%</span>
                    </div>
                </div>

                <div class="skill">
                    <p>Linux</p>
                    <div class="skill-bar skill4">
                        <span class="skill-count4">90%</span>
                    </div>
                </div>
<!--
                <div class="skill">
                    <p>Leadership</p>
                    <div class="skill-bar skill5">
                        <span class="skill-count5">75%</span>
                    </div>
                </div>
-->
                <div class="skill">
                    <p>Management Skills</p>
                    <div class="skill-bar skill6">
                        <span class="skill-count6">90%</span>
                    </div>
                </div>

                <div class="skill">
                    <p>Carpentry/Masonry/Painting</p>
                    <div class="skill-bar skill7">
                        <span class="skill-count7">95%</span>
                    </div>
                </div>
            </div><!-- end of /.coloumn -->
            <hr>
      </div>


      <div class="container">
          <h2 style="font-weight: bold;">PUBLICATIONS</h2>
          <a href="https://doi.org/10.1016/bs.aiq.2019.05.004">L. E. A. Suarez; R.K. Kathir; E. Siagri; R. W. A. Havenith and S. Faraji,
            Determination of electronic couplings in the singlet fission process using a non-orthogonal configuration interaction approach, Advances in Quantum Chemistry
          </a>
      </div>

  </body>
</html>
