p {
  text-align: justify;
  text-justify: inter-word;
}

img.aboutme {
  width: 300px;
  height: 300px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

table, th, td {
  border: 10px solid white;
}
