p {
  text-align: justify;
  text-justify: inter-word;
}

img.aboutme {
  width: 60%;
  height: 100%;
  background-size: cover;
  display: block;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
}

table, th {
  width: 100%;
  border: solid white;
}

td div
{
    position:absolute;
    top:0;
}
td
{
    position:relative;
}
