p {
  text-align: justify;
  text-justify: inter-word;
}

img.aboutme {
  width: 55%;
  height: 100%;
  background-size: cover;
  display: block;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
}

table, th, td {
  width: 100%;
  border: solid white;
}
